

.profile {
    background-image: url('/profileimg.jpg');
    border: 5px solid gray;
    border-radius: 50%;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.name-text-cv{
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 30px;
    color: black;
    background-color: rgb(197, 197, 197);
}

.cv-link{
    all:unset;
    cursor: pointer;
}



